
<ion-content translucent="true">
  <section>
    <div class="content">
        <div class="logo-area">
            <img src="../../assets/logo.png" width="150" height="60" class="logo"/>
        </div><br><br>
        <div class="post-content">
          <ion-button size="full" ><ion-icon color="secondary" name="camera"></ion-icon></ion-button>
          <ion-textarea style="background:#fff; padding:5px; border-radius:10px; text-align: left; margin-top:10px;" [(ngModel)]="post.desc" rows="9" placeholder="Say something about your post."></ion-textarea>
        </div>
    </div>
  </section>
  <div class="bg-gradient"></div>
</ion-content>
<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <ion-button size="full">Post</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
